<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sửa Sản Phẩm</title>
</head>
<body>
<h1>Sửa Sản Phẩm</h1>

<div th:if="${param.error == 'true'}" style="color: red;">
  <p>Vui lòng kiểm tra lại dữ liệu nhập vào.</p>
</div>

<form th:action="@{/products/{id}/edit(id=${product.id})}" th:object="${product}" method="post">
  <label for="name">Tên Sản Phẩm:</label>
  <input type="text" id="name" th:field="*{name}" /><br/>

  <label for="price">Giá:</label>
  <input type="number" id="price" th:field="*{price}" /><br/>

  <label for="description">Mô Tả:</label>
  <textarea id="description" th:field="*{description}"></textarea><br/>

  <label for="manufacturer">Nhà Sản Xuất:</label>
  <input type="text" id="manufacturer" th:field="*{manufacturer}" /><br/>

  <button type="submit">Cập nhật</button>
</form>

<br>
<a href="/products">Trở lại danh sách sản phẩm</a>
</body>
</html>
