<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chi Tiết Bài Viết</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 th:text="${blog.title}"></h1>
    <p><strong>Danh Mục: </strong><span th:text="${categoryName}"></span></p>
    <p><strong>Ngày Tạo: </strong><span th:text="${blog.createdAt}"></span></p>
    <p th:text="${blog.content}"></p>

    <a href="/blogs" class="btn btn-secondary">Quay lại danh sách</a>
</div>
</body>
</html>
