<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách Bài Viết</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Danh Sách Bài Viết</h1>
    <form action="/blogs/search" method="get">
        <div class="form-group">
            <label for="title">Tìm kiếm theo tiêu đề:</label>
            <input type="text" id="title" name="title" class="form-control" value="">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        <a href="/blogs/create" class="btn btn-success">Tạo Bài Viết Mới</a>

    </form>

    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Tiêu Đề</th>
            <th>Danh Mục</th>
            <th>Ngày Tạo</th>
            <th>Thao Tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog : ${blogs.content}">
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.category != null ? blog.category.name : 'Chưa phân loại'}"></td>
            <td th:text="${blog.createdAt}"></td>
            <td>
                <a th:href="@{/blogs/{id}(id=${blog.id})}" class="btn btn-info">Xem</a>
                <a th:href="@{/blogs/edit/{id}(id=${blog.id})}" class="btn btn-warning">Chỉnh sửa</a>
                <a th:href="@{/blogs/delete/{id}(id=${blog.id})}" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <span th:text="'Trang ' + ${blogs.number + 1} + ' / ' + ${blogs.totalPages}"></span>
        <div>
            <a th:href="@{/blogs?page=0}" class="btn btn-secondary">Đầu</a>
            <a th:href="@{/blogs?page=${blogs.number - 1}}" th:if="${blogs.number > 0}" class="btn btn-secondary">Trước</a>
            <a th:href="@{/blogs?page=${blogs.number + 1}}" th:if="${blogs.hasNext()}" class="btn btn-secondary">Sau</a>
            <a th:href="@{/blogs?page=${blogs.totalPages - 1}}" th:if="${!blogs.last}" class="btn btn-secondary">Cuối</a>
        </div>
    </div>


</div>
</body>
</html>
